<div style="float: left; margin-right: 50px; width: 30%;">
    <h3>Formato JSON</h3>
    <pre>{{listaJSON}}</pre>
</div>
<div style="float: left; margin-right: 50px; width: 30%;">
    <h3>Viñetas</h3>
    <ul *ngFor="let item of lista" class="list-group" style="margin-bottom: 50px;">
        <li *ngFor="let attributo of item | keyvalue" class="list-group-item">{{attributo.key}}:{{attributo.value}}</li>
    </ul>
</div>
<div style="float: left; width: 30%;">
    <button (click)="eliminarObjeto(3)" class="btn btn-primary">Eliminar objeto con indice 3 de la lista</button>
    <hr>
    <div *ngIf="mostrarMensajeExito; else mensajeError">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">¡Comic eliminado con éxito!</h4>
            <p>{{mensaje}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <i class="fas fa-times" style="color: 000000;"></i>
            </button>
        </div>
    </div>
    <ng-template #mensajeError>
        <div *ngIf="mensaje !== undefined">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">¡No ha sido posible eliminar el comic!</h4>
                <p>{{mensaje}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <i class="fas fa-times" style="color: 000000;"></i>
                </button>
            </div>
        </div>
    </ng-template>
</div>